$admin-nav-height: 150px; //88px;
$admin-side-width: 250px;

.admin {



  background: #f5f4f0;

  #primary-nav {
    background: #464646;//white;
    height: $admin-nav-height;
    min-height: $admin-nav-height;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 3;
    @media (min-width: $screen-md-min) {
      padding-top: 21px;
    }
    .navbar-header{float: left;text-align: center;width: 100%;}
    .navbar-brand{float:none;position: absolute; top:-5px;
      > img{max-width:74%;top:8px;position: relative;}
    }
//img.center-logo > {display: block;margin: 0 auto;margin-top: -18px;}
    .navbar-nav {
          margin-top: 1.3%;
      > li{
        &:first-child:after{
          content:"";
          width:1px;
          height:30px;
          background: #646464;
          display: block;
          position: relative;
          top: -34px;
          right: -103%;
        }
        > a {
          margin-left: 15px;
          padding: 0px;
          font-size: 15px;
          padding-left: 5px;//15px;
          padding-right: 5px; //15px;
          color: #52c8e6;//black;
          background-color: transparent;//#f1f0ec;
          border-radius: 4px;
          border: 0px;
          height: 42px;
          line-height: 42px;
        }
      }
    }
  }

  &.menu-closed {
    #admin-main {
      padding-left: 0px;
    }
    #secondary {
      display: none;
    }
  }

  a.hide-menu {
    font-size: 20px;
    text-decoration: none;
    color: $gray;
    border: none;
  }
  a.hide_menu:hover {
    background-color: white;
    text-decoration: none;
  }


  main {
    padding-top: $admin-nav-height;
  }

  #secondary {
    //height: calc(100vh - #{$admin-nav-height});
    top: 0;
    left: 0;
    height: 100vh;
    padding-top: $admin-nav-height;
    position: fixed;
    z-index: 2;
    width: $admin-side-width;
    background: white;
    //border-right: 1px solid #f1f0ec;

    .nav {

      li {
        margin-top: 0px;
      }
      li > a {
        font-size: 15px;
        padding-top: 13px;
        padding-bottom: 13px;
        color: #888888;
      }

      .active > a {
        color: white;
      }
      li.header {
        background-color: #f1f0ec;
      }
      li.header > a {
        height: 50px;
        color: black;
      }
      .fa-cutlery {
        padding-right: 10px;
      }
      .fa-pencil {
        float: right;
        padding-top: 5px;
      }
      .fa-book {
        padding-right: 10px;
      }
      .fa-home {
        padding-right: 10px;
      }
      .fa-glass {
        padding-right: 10px;
      }
      .fa-user {
        padding-right: 15px;
      }
      .fa-line-chart {
        padding-right: 10px;
      }
      .fa-cogs {
        padding-right: 10px;
      }
    }
  }

  #admin-main {

    //padding-left: $admin-side-width;
    padding-top: 30px;
    color: rgb(180, 180, 180);
    > .alert {
      color: white;
      min-height: 50px;
      background-color: #757575;
    }
  }

  @media (min-width: $screen-md-min) {
    .admin-main-inner {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  @media (max-width: $screen-sm-max) {
    #primary-nav .navbar-collapse {
      background-color: white;
    }
  }

  @media (max-width: $screen-sm-max) {
    #admin-main {
      padding-left: 0px;
    }
    #secondary {
      display: none;
    }
  }
  @media (min-width: 768px){
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
      margin-left: -45px;
  }
}
}
// index (default) page
div.centered{
  text-align: center;
  //button.businesses-btn{margin: 0 auto;padding-left:10px; padding-right:10px;}//text-align: center;
}
.admin-main-inner a.pull-right{margin-right:30px; position: relative;top: -25px;}
.admin .thumbnail.panel  {
  //border:1px solid rgb(180, 180, 180);

  padding-bottom:0;
  >.business-logo{
    height: 180px;
    padding: 10px 40px;
    margin: 15px auto;
    background-repeat: no-repeat;
    background-position: center center;
    width: 180px;
    border-radius: 50%;
    background-size: cover;
    border: 1px solid whitesmoke;
  }
  h4,div{text-align:center;}
  div.caption{
    padding-bottom:0;
    .row{margin-left:-14px; margin-right:-13px;}
    .col-xs-6,.col-xs-12{background: #f5f4f0;padding-top:16px; padding-bottom:16px;
      >a{color: rgb(180, 180, 180);}
    }
    .col-xs-6{border:1px solid #e6e6e6;
      >a{color: rgb(180, 180, 180);}
    }
    .col-xs-6:nth-child(n+3){border-top:none;}
    .col-xs-6:nth-child(even){border-left:none;border-right:none;}
    .col-xs-6:nth-child(odd){border-left:none;}
  }
}
a.edit-btn{
  > span {margin-left:30px;}
  &:before{
    content:url('/assets/images/edit_icon.png');
    display:block;
    position:absolute;
    width:29px;
    height:29px;
    left: 38%;
    top: 14px;
  }
}
  .panel-default {

    .panel-heading {
      background-color: $brand-primary;
      color: white;
      font-size: 1.5em;
      > .centered{
        .admin-actions{    position: absolute;    right: 0;    top: 30%;}
        .admin-btn{     /*position: absolute;*/  right: 0;  top: 30%;
          >span{
            position:relative;
            top:-30px;
            border-right:1px solid #e6e6e6;
            left: 8px;
            height: 40px;
            display: block;
          }
          > strong{    margin-left: -10px;}
        }
      > img {}//margin-left: 15%;}
      }
      a.admin-btn {
        font-size: 0.7em;
        display: inline-block;
        color:#52c8e6;
        font-weight:normal;

        @media (min-width: $screen-md-min) {
          float: right;
        }
        padding: 3px 10px;
        margin-right: 5px;

      }
      .fa-pencil-square-o {
        padding-right: 3px;
      }
      .fa-trash-o {
        padding-right: 3px;
      }

      .fa-plus {
        padding-right: 3px;
        &:before {
            content: url(../images/add_icon.png);
        }
      }
    }

}
.admin {
  .fa{
    padding-right: 3px;
    position: relative;
    top: 5px;
    left: -10px;
    }
    .fa-plus:before {content: url(../images/add_icon.png);}
    .fa-trash:before{content: url(/assets/images/delete_icon.png);}
}

.admin .centered{
  position: relative;
  button.businesses-btn{
    position:relative;
    width: 280px;
    position: relative;
    width: 280px;
    border-radius: 4px;
    padding: 10px;
    outline:none;
    > .caret{position: relative;left: 26%;}
    }
  }
  .businesses-list{
     //position:absolute;
     border:1px solid rgb(180, 180, 180);
     background-color:#fff;
     //width: 7%;
     width: 100%;
    /* margin: 0 auto; */
    position: absolute;
    top: 100%;
    left: 0;
     margin: 0 auto;
     //position: absolute;
     //left: 47.4%;
     li{
       padding-top:8px;
       padding-bottom:8px;
       //border-bottom:1px solid rgb(180, 180, 180);
       a{
         color:rgb(180, 180, 180);
         text-align:center;
       }
     }
 }
.admin-navigation{
  margin-bottom:40px;
  li{
    border-right:1px solid #e6e6e6;
    background-color:#fff;
   a{color: rgb(180, 180, 180);}
   button{
     text-decoration: none;
    background-color: #fff;
    color: rgb(180, 180, 180);
    border:none;
    text-align:center;
        margin-left: 30%;
    outline: none;
  }
  }
}

.panel.transparent{
  background-color:transparent;
  border: none;
  -webkit-box-shadow:none;
  box-shadow:none;
  h4 {text-align:center;background-color:transparent;}
  >.panel-heading{
    background-color:transparent;
    border:0;
  }
}
.table-striped.table th, .table-striped.table td,
.table-striped.table thead, .table-striped.table tr,
.table thead>tr>th, .table tbody,
.table > thead > tr > th   {
    border-top: none !important;
    border-left: none !important;
    border-bottom: none !important;
}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #f5f5f5;
}
.table-responsive{
  background-color: transparent;
  margin-bottom:30px!important;
  table {
    background-color:#fff;
    tr > td:nth-child(2){

    }
  }
}
span.cat-icon {background-image:url('/assets/images/cat_circle.png');    background-size: contain;padding:0px 5px 2px 5px;background-repeat:no-repeat; }
//table.table.table-striped td:not(last-child) span:not(.cat-icon){margin-left:4px;}
.shadow{
  -webkit-box-shadow: 4px 4px 9px 0 #e6e6e6;
-moz-box-shadow:    4px 4px 9px 0 #e6e6e6;
box-shadow:         4px 4px 9px 0 #e6e6e6;
}

.businesses-table {

  #check-all-box {
    text-decoration: none;
    color: black;
  }
  #check-all-box:hover{
    color:black;
  }
}

.client-more {
  cursor: pointer;
}

.admin table[data-cat] thead th{
  &:first-child{width:41%;}
  &:nth-child(3){width: 18%;}
  &:last-child{width:17%;}
}
