
$admin-nav-height: 110px;
$card-radius: 10px;

.admin {

  .card {
    background-color: white;
    border-radius: 12px;

    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.55);

    .thumbnail {
      margin: 0;
      background: transparent;
      border-radius: $card-radius $card-radius 0 0;
      padding: 42px;
      min-height: 300px;
      text-align: center;
    }

    .logo-circle {
      border-radius: 50%;
      padding-bottom: 100%;
      background-color: #f0f0f0;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    .business-title {
      font-size: 18px;
      color: #b4b4b4;
    }

    .buttons-caption-wrapper {
      background: #f5f5f5;
      color: #b4b4b4;
      border-radius: 0 0 $card-radius $card-radius;

      border-top: 1px solid #e6e6e6;

      @extend .clearfix;


      .buttons-caption {
        &, a {
          color: #b4b4b4;
        }
        width: 100%;
        text-align: center;
        line-height: 58px;
        &.half {
          width: 50%;

          &.bordered {
            border-left: 1px solid #e6e6e6;
          }

        }

        border-bottom: 1px solid #e6e6e6;
        &:last-child {
          border-bottom: 0px;
        }

        height: 58px;
        float: left;
        font-size: 15px;

      }

    }
  }

  .brand-wrapper {
    text-align: center;
    padding: 16px 0;
    height: $admin-nav-height;
  }
  .navbar-brand {
    padding: 0px;
    float: none;
    margin: 0 !important;
    color: $brand-primary;
    > img {
      display: inline;
    }
  }

  .navbar-toggle {
    left: 15px;
    position: absolute;
    border: 0px;
    background: none !important;
    .icon-bar {
      color: $brand-primary;
      border-color: $brand-primary;
      background: $brand-primary;
    }
  }

  .navmenu-default, .navbar-default .navbar-offcanvas {
    background: white;
  }

  .navmenu {
    z-index: 1;
    padding-top: $navbar-height + 20px;
  }

  .canvas {
    position: relative;
    left: 0;
    z-index: 2;
    min-height: 100%;
    padding: 50px 0 0 0;
    background: #f0f0f0;
  }

  @media (min-width: 0) {
    .navbar-toggle {
      display: block; /* force showing the toggle */
    }
  }

  .navbar {
    background: #464646;
    border: none;
  }

  @media (min-width: $screen-md-min) {
    padding: 0;
    .navbar {
      height: $admin-nav-height;
    }
    .canvas {
      padding: 0;
      padding-top: $admin-nav-height;
    }
  }

  /*
  background: #f5f4f0;

  #primary-nav {
    background: white;
    height: $admin-nav-height;
    min-height: $admin-nav-height;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 3;
    @media (min-width: $screen-md-min) {
      padding-top: 21px;
    }

    .navbar-nav > li > a {
      margin-left: 15px;
      padding: 0px;
      font-size: 15px;
      padding-left: 15px;
      padding-right: 15px;
      color: black;
      background-color: #f1f0ec;
      border-radius: 4px;
      border: 0px;
      height: 42px;
      line-height: 42px;
    }

  }

  &.menu-closed {
    #admin-main {
      padding-left: 0px;
    }
    #secondary {
      display: none;
    }
  }

  a.hide-menu {
    font-size: 20px;
    text-decoration: none;
    color: $gray;
    border: none;
  }
  a.hide_menu:hover {
    background-color: white;
    text-decoration: none;
  }


  main {
    padding-top: $admin-nav-height;
  }

  #secondary {
    //height: calc(100vh - #{$admin-nav-height});
    top: 0;
    left: 0;
    height: 100vh;
    padding-top: $admin-nav-height;
    position: fixed;
    z-index: 2;
    width: $admin-side-width;
    background: white;
    //border-right: 1px solid #f1f0ec;

    .nav {

      li {
        margin-top: 0px;
      }
      li > a {
        font-size: 15px;
        padding-top: 13px;
        padding-bottom: 13px;
        color: #888888;
      }

      .active > a {
        color: white;
      }
      li.header {
        background-color: #f1f0ec;
      }
      li.header > a {
        height: 50px;
        color: black;
      }
      .fa-cutlery {
        padding-right: 10px;
      }
      .fa-pencil {
        float: right;
        padding-top: 5px;
      }
      .fa-book {
        padding-right: 10px;
      }
      .fa-home {
        padding-right: 10px;
      }
      .fa-glass {
        padding-right: 10px;
      }
      .fa-user {
        padding-right: 15px;
      }
      .fa-line-chart {
        padding-right: 10px;
      }
      .fa-cogs {
        padding-right: 10px;
      }
    }
  }

  #admin-main {

    padding-left: $admin-side-width;
    padding-top: 0px;

    > .alert {
      color: white;
      min-height: 50px;
      background-color: #757575;
    }
  }

  @media (min-width: $screen-md-min) {
    .admin-main-inner {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  @media (max-width: $screen-sm-max) {
    #primary-nav .navbar-collapse {
      background-color: white;
    }
  }

  @media (max-width: $screen-sm-max) {
    #admin-main {
      padding-left: 0px;
    }
    #secondary {
      display: none;
    }
  }
  */

}
// index (default) page

  .panel-default {

    .panel-heading {
      background-color: $brand-primary;
      color: white;
      font-size: 1.5em;

      a.admin-btn {
        font-size: 0.7em;
        background-color: $brand-turquoise;
        color: white;
        border: 1px solid $brand-turquoise;
        display: inline-block;
        @media (min-width: $screen-md-min) {
          float: right;
        }
        padding: 3px 10px;
        margin-right: 5px;

      }
      .fa-pencil-square-o {
        padding-right: 3px;
      }
      .fa-trash-o {
        padding-right: 3px;
      }
      .fa-plus {
        padding-right: 3px;
      }
    }

}

.businesses-table {

  #check-all-box {
    text-decoration: none;
    color: black;
  }
  #check-all-box:hover{
    color:black;
  }
}

.client-more {
  cursor: pointer;
}
