
$admin-nav-height: 110px;
$card-radius: 10px;

.admin {

  .almost-a {

  }

  .navbar-right {
    position: absolute;
    right: 0px;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      padding-top: 20px;

      > li {
        display: inline-block;

        a, .almost-a {
          color: $brand-primary;
          font-size: 16px;
          display: inline-block;
          padding: 8px 15px;
          border-left: 1px solid #646464;
        }

        &:first-child {
          a, .almost-a {
            border-left: 0px;
          }
        }

      }
    }
  }

  .business-panel-header {
    padding-bottom: 15px;
  }

  .admin-btn {
    font-size: 18px;
    line-height: 26px;
    color: $brand-primary;
    text-decoration: none;

    img {
      margin-top: -2px;
      margin-right: 4px;
    }
  }

  .admin-buttons {
    padding-top: 16px;
  }

  .card {
    background-color: white;
    border-radius: 12px;

    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.55);

    .thumbnail {
      margin: 0;
      background: transparent;
      border-radius: $card-radius $card-radius 0 0;

      padding: 22px;
      float: left;
      width: 50%;

      @media (min-width:$screen-md-min) {
        float: none;
        min-height: 300px;
        width: 100%;
        padding: 42px;
      }
      text-align: center;
    }

    .under-thumbnail {
      float: left;
      width: 50%;
      border-left: 1px solid #e6e6e6;

      @media (min-width: $screen-md-min) {
        border-left: 0px;
        float: none;
        width: 100%;
      }
    }

    .logo-circle {
      border-radius: 50%;
      padding-bottom: 100%;
      background-color: #f0f0f0;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    .business-title {
      font-size: 18px;
      color: #b4b4b4;
    }

    .buttons-caption-wrapper {
      background: #f5f5f5;
      color: #b4b4b4;
      border-radius: 0 0 $card-radius $card-radius;

      border-top: 1px solid #e6e6e6;

      @extend .clearfix;


      .buttons-caption {
        &, a {
          color: #b4b4b4;
        }
        width: 100%;
        text-align: center;
        line-height: 58px;
        &.half {
          @media (min-width: $screen-md-min) {
            width: 50%;

            &.bordered {
              border-left: 1px solid #e6e6e6;
            }
          }

        }

        border-bottom: 1px solid #e6e6e6;
        &:last-child {
          border-bottom: 0px;
        }

        height: 58px;
        float: left;
        font-size: 15px;

      }

    }
  }

  .brand-wrapper {
    text-align: center;
    padding: 16px 0;
    height: $admin-nav-height;
  }
  .navbar-brand {
    padding: 0px;
    float: none;
    margin: 0 !important;
    color: $brand-primary;
    > img {
      display: inline;
    }
  }

  .navbar-toggle {
    left: 15px;
    position: absolute;
    border: 0px;
    background: none !important;
    .icon-bar {
      color: $brand-primary;
      border-color: $brand-primary;
      background: $brand-primary;
    }
  }

  .navmenu-default, .navbar-default .navbar-offcanvas {
    background: white;
  }

  .navmenu {
    z-index: 1;
    padding-top: $navbar-height + 20px;
  }

  .canvas {
    position: relative;
    left: 0;
    z-index: 2;
    min-height: 100%;
    padding: 80px 0 0 0;
    background: #f0f0f0;
  }

  @media (min-width: 0) {
    .navbar-toggle {
      display: block; /* force showing the toggle */
    }
  }

  .navbar {
    background: #464646;
    border: none;
  }

  @media (min-width: $screen-md-min) {
    padding: 0;
    .navbar {
      height: $admin-nav-height;
    }
    .canvas {
      padding: 0;
      padding-top: $admin-nav-height;
    }
  }

  /*
  background: #f5f4f0;

  #primary-nav {
    background: white;
    height: $admin-nav-height;
    min-height: $admin-nav-height;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 3;
    @media (min-width: $screen-md-min) {
      padding-top: 21px;
    }

    .navbar-nav > li > a {
      margin-left: 15px;
      padding: 0px;
      font-size: 15px;
      padding-left: 15px;
      padding-right: 15px;
      color: black;
      background-color: #f1f0ec;
      border-radius: 4px;
      border: 0px;
      height: 42px;
      line-height: 42px;
    }

  }

  &.menu-closed {
    #admin-main {
      padding-left: 0px;
    }
    #secondary {
      display: none;
    }
  }

  a.hide-menu {
    font-size: 20px;
    text-decoration: none;
    color: $gray;
    border: none;
  }
  a.hide_menu:hover {
    background-color: white;
    text-decoration: none;
  }


  main {
    padding-top: $admin-nav-height;
  }

  #secondary {
    //height: calc(100vh - #{$admin-nav-height});
    top: 0;
    left: 0;
    height: 100vh;
    padding-top: $admin-nav-height;
    position: fixed;
    z-index: 2;
    width: $admin-side-width;
    background: white;
    //border-right: 1px solid #f1f0ec;

    .nav {

      li {
        margin-top: 0px;
      }
      li > a {
        font-size: 15px;
        padding-top: 13px;
        padding-bottom: 13px;
        color: #888888;
      }

      .active > a {
        color: white;
      }
      li.header {
        background-color: #f1f0ec;
      }
      li.header > a {
        height: 50px;
        color: black;
      }
      .fa-cutlery {
        padding-right: 10px;
      }
      .fa-pencil {
        float: right;
        padding-top: 5px;
      }
      .fa-book {
        padding-right: 10px;
      }
      .fa-home {
        padding-right: 10px;
      }
      .fa-glass {
        padding-right: 10px;
      }
      .fa-user {
        padding-right: 15px;
      }
      .fa-line-chart {
        padding-right: 10px;
      }
      .fa-cogs {
        padding-right: 10px;
      }
    }
  }

  #admin-main {

    padding-left: $admin-side-width;
    padding-top: 0px;

    > .alert {
      color: white;
      min-height: 50px;
      background-color: #757575;
    }
  }

  @media (min-width: $screen-md-min) {
    .admin-main-inner {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  @media (max-width: $screen-sm-max) {
    #primary-nav .navbar-collapse {
      background-color: white;
    }
  }

  @media (max-width: $screen-sm-max) {
    #admin-main {
      padding-left: 0px;
    }
    #secondary {
      display: none;
    }
  }
  */

}
// index (default) page

  .panel-default {

    &.padded {
      padding: 15px;
    }

    .panel-heading {
      background-color: $brand-primary;
      color: white;
      font-size: 1.5em;

      a.admin-btn {
        font-size: 0.7em;
        background-color: $brand-turquoise;
        color: white;
        border: 1px solid $brand-turquoise;
        display: inline-block;
        @media (min-width: $screen-md-min) {
          float: right;
        }
        padding: 3px 10px;
        margin-right: 5px;

      }
      .fa-pencil-square-o {
        padding-right: 3px;
      }
      .fa-trash-o {
        padding-right: 3px;
      }
      .fa-plus {
        padding-right: 3px;
      }
    }

    #signup_headerAttachment, #signup_logoAttachment {
      margin-top: 10px;
    }

    .bordered-file {
      border-left: 1px solid #e6e6e6;
    }

    .btn-file, #signup_headerAttachment .form-group, #signup_logoAttachment .form-group {
        position: relative;
        overflow: hidden;

        @extend .btn;
        @extend .btn-primary;

        height: 45px;
        padding: 11px 25px;

        border: 0px;
        border-radius: 7px;

        &:before {
          content: "Upload";
        }

        input[type=file] {
          position: absolute;
          top: 0;
          right: 0;
          min-width: 100%;
          min-height: 100%;
          font-size: 100px;
          text-align: right;
          filter: alpha(opacity=0);
          opacity: 0;
          outline: none;
          background: white;
          cursor: inherit;
          display: block;
        }
    }

    .control-label {
      font-weight: normal;
    }

    .form-group {
      margin-bottom: 10px;
    }

    hr {
      width: 100%;
    }


  }

.panel-default {
  border: 0px;
  box-shadow: none;
  > .panel-body {
    padding: 0px;
  }
  background-color: transparent;
  @media (min-width: $screen-md-min) {
    background-color: white;
  }
}

.businesses-table {

  #check-all-box {
    text-decoration: none;
    color: black;
  }
  #check-all-box:hover{
    color:black;
  }

  margin-bottom: 0px;

  tr > th {
    height: 80px;
    vertical-align: middle !important;
    font-size: 16px;
    font-weight: normal;
  }

  @media (min-width: $screen-md-min) {

    tbody > tr {
      > td {
        padding: 15px 8px;
      }
    }

    tr > td:first-child,
    tr > th:first-child {
      padding-left: 25px !important;
    }

    tr > td:last-child,
    tr > th:last-child {
      padding-right: 25px !important;
    }
  }

  @media (max-width: $screen-sm-max) {
    thead {
      display: none;
    }

    tr > td:first-child {
      display: none;
    }

    .delete-form {
      display: inline;
    }

    tr {
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
      border: none;
      background-color: white !important;
      border-radius: 9px;
      margin-bottom: 20px;
      display: block;
      .treatment-name-td {
        padding-top: 15px !important;
      }
      > td {
        &:before {
          content: attr(title) ": ";
          font-weight: bold;
          margin-right: 5px;
        }
        &:nth-child(2) {
          border-top: none !important;
        }
        display: block;
        padding: 8px 25px !important;
      }
    }
  }

}

.client-more {
  cursor: pointer;
}

.btn-lg {
  height: 45px;
  padding: 11px 25px;

  border: 0px;
  border-radius: 7px;
}

.business-panel-header {
  .btn-group .btn {
    font-size: 16px;
    padding: 20px 12px;
    color: #b4b4b4;
    box-shadow: none !important;
    border: 0px;
    border-left: 1px solid #f0f0f0;
    border-color: #f0f0f0 !important;

  }

  .btn-group .btn-group:first-child .btn {
    border-radius: 6px 0 0 6px;
  }

  .btn-group:last-child .btn {
    border-radius: 0 6px 6px 0;
  }

  .btn-group > .active {
    color: white;
    background-color: $brand-primary;
    box-shadow: none;
    border: 0px;
  }
}

$icon-rounded-size: 32px;

.icon-rounded {
  border-width: 1px;
  border-style: solid;
  border-color: #c4c4c4;
  color: #c4c4c4;
  text-align: center;
  text-transform: uppercase;
  border-radius: 50%;
  display: inline-block;
  width: $icon-rounded-size;
  height: $icon-rounded-size;
  padding: ($icon-rounded-size / 4) 0;
  margin-top: -($icon-rounded-size / 4);

  line-height: 1;

  font-size: $icon-rounded-size / 2.2;
  margin-right: .5em;

}

.admin {
  .business-title {
    text-align: center;
    margin: 0;
    padding-top: 15px;
    font-weight: bold;
    color: $brand-primary;
    font-size: 25px;
  }
  .toolbar-block {
    padding: 15px 0;
  }

  .panel-sidebar {

    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
    border-radius: 6px;

    .panel-heading {
      border-bottom: 1px solid #e6e6e6;
      .input-group {
        .form-control {
          border: 0px;
          box-shadow: none;
          text-transform: uppercase;
          color: #6c6e6d;
          font-size: 16px;
        }

        .input-group-addon {
          border: 1px solid $brand-primary;
          background: transparent;
          border-radius: 50%;
          color: $brand-primary;
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }

    .panel-body {
      padding: 0px;

      height: 400px;
      overflow: scroll;

      ul {
        border: 0px;
        li {
          border: 0px;
          color: #b4b4b4;
          font-size: 16px;


          &.category-name {
            color: #6c6d6e;
            border-top: 1px solid #e6e6e6;
            text-transform: uppercase;
            font-size: 17px;

            margin-top: 35px;

            padding-top: 25px;

            &:first-child {
              margin-top: 0px;
              border-top: 0px;
            }
          }
        }
      }
    }
  }
}
