#business-information {

  padding-top: 0px;

  .business-aside {
    background: white;
    padding: 20px 15px;
    color: #3d3d3d;

    box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.18);

    h3 {
      font-size: 20px;
      font-weight: 200;

    }

    h1 {
      font-size: 16px;
      font-weight: bold;
    }

    h2, p {
      font-size: 14px;
      font-weight: 200;
    }

    .business-info {
      h1 {
        font-size: 16px;
      }
      h2 {
        text-transform: none;
      }
      .map-show {
        padding: 2px;
        font-size: 14px;
        text-decoration: none;
        -webkit-transition:all .5s ease-in;
        -moz-transition:all .5s ease-in;
        transition:all .5s ease-in;
      }
      .map-show:hover {
        background: none;
        color: black;
      }
      .phone {
        padding: 2px;
        font-size: 14px;
        color: $gray;
        text-decoration: none;
      }
      .phone:hover {
        color: $gray;
        background: none;
      }
      .email-link {
        padding: 2px;
        font-size: 14px;
        color: $gray;
        text-decoration: none;
      }
      .email-link:hover {
        color: $gray;
        background: none;
      }
      .website-link {
        padding: 2px;
        font-size: 14px;
        color: $gray;
        text-decoration: none;
      }
      .website-link:hover {
        color: $gray;
        background: none;
      }
      .fa {
        padding-right: 5px;
      }
    }
  }

  .jumbotron {
    @media (min-width: $screen-md-min) {
      max-height: 455px;
      overflow: visible;
    }
    background-color: #424242;
    color: white;
    padding-top: 30px;


    h1 {
      font-size: 22px;
      margin: 0px;
    }

    h2 {
      font-size: 13px;
      margin: 0;
      margin-top: 8px;
      margin-bottom: 8px;
      text-transform: uppercase;
    }

    .nav-pills {

      > li {
        margin-right: 6px;
        top: 16px;
      }

      > li > a {
        color: white;
        font-size: 20px;
        text-align: center;
        padding-left: 13px;
        padding-right: 13px;
        height: 50px;
        line-height: 50px;

        padding-top: 0px;
        padding-bottom: 0x;
        text-transform: uppercase;

        background-color: #3a3a3a;
        border-bottom: 3px solid #3a3a3a;
      }

      > .active > a,
      > li > a:hover {
        background: #232323;
        border-bottom-color: $brand-primary;
      }
    }
  }

  .header-attachment-wrapper {
    height: 290px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background: rgba(255,255,255,0.3);
    margin-bottom: 15px;
  }

  .business-aside .ratings {
    text-align: center;
  }

  .ratings {

    .stars {
      .active {color: #ffcc30;}
      font-size: 35px;
      bottom: 20px;
      right: 35px;
    }

    .ratings-number {
      font-size: 52px;
      line-height: 56px;
    }

    .ratings-lead {
      > small {
        font-size: 18px;
        line-height: 20px;
        color: #3d3d3d;
      }
    }

    p {
      font-size: 12px;;
      line-height: 12px;
      color: #3d3d3d;
      margin-top: 3px;
      margin-bottom: 15px;
      font-weight: 200;
      text-transform: uppercase;
    }

  }
  hr {
    width: 100%;
  }

  .business-welcome {
    font-size: 18px;
    margin-top: 0px;
  }
  .yelp-logo {
    margin-top: 8px;
  }
  .review-comments {
    > .media {
      background-color: #f7f7f7;
      padding: 22px 15px;
      margin-bottom: 15px;

      .media-heading {
        font-size: 14px;
        font-weight: bold;
      }

      .comment-text {
        font-size: 13px;
        color: #2a2a2a;
      }

      .stars {
        font-size: 13px;
      }
    }
  }

}
