#products {

  .section-header h2 {
    font-size: 32px;
  }

  .btn-primary {
    border-radius: 4px;
    text-transform: none;
  }

  .brands ul {
    margin: 0;
    padding: 0;
  }

  .brand {

    list-style-type: none;
    padding: 0px;

    padding-top: 3px;
    padding-bottom: 3px;

    .fake-checkbox {
      height: 32px;
      width: 32px;
      float: left;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      margin-right: 12px;
      line-height: 32px;
    }

    .fake-checkbox {
      background-image: url('../images/add-button-toolbar.png');
    }

    &.checked .fake-checkbox {
      background-image: url('../images/lock.png');
    }

    input[type="checkbox"] {
      display: none;
    }

    label {
      color: #b4b4b4;
      font-size: 16px;
      font-weight: normal;
      line-height: 32px;
    }

  }

}

#products .input-group.search {
  margin-top: 20px;
}

.input-group.search {



  @extend .card;
  padding: 5px 3px;

  .form-control, .input-group-btn .btn {
    height: 32px;
    line-height: 32px;
  }

  .form-control {
    border: 0px;
    text-transform: uppercase;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    outline: none !important;
  }

  .input-group-btn .btn {
    font-size: 16px;
    color: #6ed1ea;
    border-color: #6ed1ea;
    border-radius: 50%;
    padding: 1px 8px;
  }

} // .input-group

#package-intro {

  &, .jumbotron {
    background-color: white;
  }

  .lead {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    @media (min-width: $screen-md-min) {
      padding: 45px 50px 20px;
    }
  }

  .thumbnail {

  }

  .package-head {

  }

  .plus {
    text-align: center;
  }

  .package-head, .plus {
    text-align: center;
    font-size: 18px;
    line-height: 20px;
  }

  .btn-lg {
    border-radius: 0px;
    padding: 20px 50px 6px;
    height: 60px;
  }

  .caption {
    font-size: 20px;
    line-height: 23px;
    font-weight: normal;
    text-align: center;
    padding: 30px 10px;
  }

  .muted {
    color: #959595;
    font-size: 18px;
  }
}

#therapists-section {
  padding-top: 0px;
  padding-bottom: 0px;
}

.therapists {

  &.zebra {

    .therapist:nth-child(even) {
      background-color: white;
    }

  }

  .therapist {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .therapist {
    .thumbnail {
      background: none;
    }

    h4 {
      margin-bottom: 4px;
    }

    h5 {
      margin-top: 4px;
      font-size: 15px;
      margin-bottom: 5px;
    }

    small {
      color: #46c6e4;
      font-size: 60%;
    }

    .lead {
      color: #46c6e4;
      margin-bottom: .3em;
    }

    .btn-group > .btn-lg {
      border-bottom-right-radius: 7px !important;
      border-top-right-radius: 7px !important;
    }

  }

}

.btn-transparent {
  box-shadow: none !important;
  color: #505050;
  text-decoration: underline;
}
