#results-map-wrapper {
  position: relative;
  .results-map-wrapper-outer {
    background: whitesmoke;
  }

  section {
    padding: 0px;
  }

  #results_map {
    width: 100%;
  }

  .results-map-wrapper-outer, #results_map {
    height: 580px;
    min-height: 55vh;
  }

  .top-warning {
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 10000;

  }
}
