@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300);


// FA Overrides
$fa-font-path: '../assets/components/fontawesome/fonts';

@import '../../../web/assets/components/fontawesome/scss/font-awesome';

// Bootstrap Overrides
$icon-font-path: '../assets/components/bootstrap-sass-official/assets/fonts/bootstrap/';
$brand-primary: #52c8e6;
$font-family-sans-serif: "Open-Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
// Bootstrap
@import '../../../web/assets/components/bootstrap-sass-official/assets/stylesheets/bootstrap';

// Bootstrap
