// FA Overrides
$fa-font-path: '../components/fontawesome/fonts';
$icon-font-path: '../components/bootstrap-sass-official/assets/fonts/bootstrap/';

@import '../../../web/assets/components/fontawesome/scss/font-awesome';

// Bootstrap Overrides
$navbar-height: 96px;
$gray-light: #bbbbbb;
$gray-medium: #919191;
$gray: #3f4040;
$font-family-sans-serif: "Open Sans", Helvetica, Arial, sans-serif;

// Swatches
$brand-primary: #52c8e6;
$brand-turquoise: #3990a8;
$brand-aqua: #1e7188;

// Borders
$border-radius-base: 0px;
$border-radius-small: $border-radius-base;
$border-radius-large: $border-radius-base;
// Bootstrap
@import '../../../web/assets/components/bootstrap-sass-official/assets/stylesheets/bootstrap';

// Jasny
@import '../../../web/assets/components/jasny-bootstrap/scss/jasny-bootstrap';

@import '../components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css';

// Our stuff

.btn.btn-fullwidth {
  width: 100%;
}

.btn.btn-lg {
  box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.18);
  text-transform: uppercase;
}

.btn-secondary {
  background-color: #bbbbbb;
  color: white;
  box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.18);
}


.nav-pad {
  margin-top: $navbar-height;
}

// navbar
$logo-height: 78px;

.navbar-default {
  background: rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid $gray-light;
  box-shadow: 0px 2px 12px 2px rgba(0,0,0,0.18);
  -webkit-transition: background 2s ease-in;
  -moz-transition: background 2s ease-in;
  transition: background 2s ease-in;

  &.navbar-static-top {
  width: 100%;
  position: fixed;
  top: 0px;

    @media (min-width: $screen-md-min) {
      position: absolute;
    }
  }
}

.navbar-default.opaque {
  background: rgba(255, 255, 255, 1);
}

.navbar-brand {
  padding-top: ($navbar-height - $logo-height) / 2;
  padding-bottom: ($navbar-height - $logo-height) / 2;
}

// buttons for navbar
@media (max-width : 767px) {    //for xs devices for navbar
  .btn-default {
    text-align: left;
    background: none;
    border: none;
  }
}
@media (min-width : 768px) {    //for normal devices sm or higher

  .navbar {

    .btn-default {
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      padding: 5px 10px;
    }
    #need-help {
      border: none;
      background: none;
      top: 30px;
    }
    #blue-button {
      color: white;
      border: 1px solid $brand-primary;
      background-color: $brand-primary;
      text-transform: uppercase;
      top: 33px;
      box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
      -webkit-transition:all .5s;
      -moz-transition:all .5s;
      transition:all .5s;
    }
    #blue-button:hover {
      color: $brand-primary;
      background-color: white;
      border: 1px solid white;
    }
    #white-button {
      color: $brand-primary;
      background-color: white;
      border: 1px solid white;
      text-transform: uppercase;
      top: 33px;
      margin-left: 12px;
      margin-right: 12px;
      box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
      -webkit-transition:all .5s;
      -moz-transition:all .5s;
      transition:all .5s;
    }
    #white-button:hover {
      color: white;
      background-color: $brand-primary;
      border: 1px solid $brand-primary;
    }
  }
}
.notify-btn a {
  color: white;
  padding: 5px 10px;
  border: 1px solid $brand-primary;
  background-color: $brand-primary;
  text-transform: uppercase;
  top: 33px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  transition:all .5s;
}



.login-btn a {
  color: $brand-primary;
  background-color: white;
  border: 1px solid white;
  padding: 5px 10px;
  text-transform: uppercase;
  top: 33px;
  margin-left: 12px;
  margin-right: 12px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  transition:all .5s;
}

.glyphicon-play-circle {
      padding-left: 4px;
      font-size: 0.9em;
}



.fa-facebook {
  color: $brand-primary;
}

.fa-twitter {
  color: $brand-primary;
}

.glyphicon-question-sign {
  color: $brand-primary;
  font-size: 1.4em;
  top: 4px;
  padding-right: 5px;
}

// Footer

#site-main-footer {

  .panel, .panel-heading, .panel .list-group-item {
    background: transparent;
    border: 0px;
    box-shadow: none;
    color: white;
    padding-left: 0px;
    padding-right: 0px;

    a {
      color:white;
      text-decoration: none;
    }
  }

  .panel {
    font-size: 16px;
    font-weight: 200;
  }

  .panel-heading {
    font-weight: bold;
    font-size: 18px;
    padding: 0px;
  }

  .top-footer {
    background-color: $brand-turquoise;
    padding: 40px 0px;
  }

  .bottom-footer {
    padding: 10px 0;
    text-align: center;
    background-color: $brand-aqua;

    img {
      opacity: 0.6;
    }
  }
}

// Homepage stuff
// 130 80
hr {
  width: 85%;
  &.fullwidth {
    width: 100%;
  }
}

#top-slider {
  .jumbotron {
    background-image: url('../images/feature_banner.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    padding: 170px 0 195px;
    padding-top: 30vh;
    padding-bottom: 35vh;
  }
  h1, .lead {
    color: white;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 1px rgba(0,0,0,0.6);
  }
  h1 {
    font-size: 45px;
  }
  .lead {
    font-size: 34px;
  }
  padding: 0px;
}

.form-transparent-wrapper {
  padding: 25px 30px;
  background-color: rgba(255, 255, 255, 0.6);

  .row .btn {
    width: 100%;
  }
}

main section {
  padding: 80px 0;


  .section-header {
    padding-top: 50px;
    padding-bottom: 30px;
    color: $gray;
    text-align: center;

    h2 {
      font-size: 50px;
      margin-bottom: 14px;
    }

    h4 {
      font-size: 18px;
      text-transform: uppercase;

    }
  }
}

#how-it-works {
  .img-responsive {
    margin: 0 auto;
  }
}

.thumbnail {
  border: 0px;
}

#popular-categories, #latest-deals {
  .thumbnail {
    padding: 0px;
  }
}

#get-started {
  background-image: url('../images/appointments_bg.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding: 175px 0;
  padding-top: 20vh;
  padding-bottom: 20vh;

  .well {
    border: 0px;
    box-shadow: 0px 2px 12px 2px rgba(0,0,0,0.18);
    background: rgba(0,0,0,0.45);
    color: white;

    text-align: center;
    text-shadow: 0px 1px rgba(0,0,0,0.6);

    padding: 60px 0;

    h2 {
      font-size: 42px;
      line-height: 1.3;
      margin-top: 0px;
      margin-bottom: 35px;
    }

    a {
      text-transform: uppercase;
    }
    .btn-primary {
      padding: 10px 60px;
      background-color: $brand-primary;
      color: white;
      -webkit-transition:all .5s;
      -moz-transition:all .5s;
      transition:all .5s;
      text-transform: uppercase;
    }
    .btn-primary:hover {
      background-color: $brand-turquoise;
    }
  }
}

#deals-border {
  border: 1px solid $gray-medium;
  padding: 0px;
}

.caption{

  #deals-text {
    color: $gray-medium;
  }
  #deals-title {
    font-size: 1.2em;
  }

  .btn-primary {
    padding: 5px 10px;
    width: 120px;
    background-color: $brand-primary;
    color: white;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s;
    text-transform: uppercase;
  }
  .btn-primary:hover {
    background-color: $brand-turquoise;
  }
}

#searchbar-front .btn-default {
  color: white;
  background-color: $brand-primary;
  text-transform: uppercase;
  -webkit-transition:all 1s;
  -moz-transition:all 1s;
  transition:all 1s;
}

#searchbar-front .btn-default:hover {
  background-color: $brand-turquoise;
}

#popular-categories {

  .image-wrapper {
    overflow: hidden;
    position: relative;
    border: 5px solid white;

    #image-zoom  {
      z-index: -1;
      transform: scale(1.2);
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -webkit-transition: all .5s ease-in;
      -moz-transition: all .5s ease-in;
      transition: all .5s ease-in;
    }

    #image-zoom:hover {
      -webkit-transform: scale(1.6);
      -moz-transform: scale(1.6);
      transform: scale(1.6);
    }
  }
}

@import 'admin';

@import 'businesses';

.below-map {
  .input-group{
    .form-control{border-right:none;}
    &:not(:last-child){margin-bottom:5px;}
    .input-group-addon{padding:0 12px; background-color: #fff;border: none; border-bottom: 1px solid #ccc; border-top: 1px solid #ccc; color:$brand-primary;}//border-radius:50px; color: #fff;background-color:$brand-primar;
  }
}
//login page
.login-area {
  background-color: white;
  margin-bottom: 0;
  .login-title {
    font-size: 1.8em;
    text-align: center;
    padding: 30px;
    color: $brand-primary;
    text-transform: uppercase;
  }
  .form-control {
    height: 50px;
    font-size: 1.5em;
  }
  .btn-default {
    color: white;
    font-size: 1.5em;
    padding: 5px 25px;
    border: 1px solid $brand-primary;
    background-color: $brand-primary;
    text-transform: uppercase;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s;
  }
  .btn-default:hover {
    color: $brand-primary;
    background-color: white;
    border: 1px solid white;
  }
}

.forgot-password{
  margin-top: 30px;
  text-decoration: none;
  color: $gray;
  font-size: 1.2em;
  text-align: center;
}
.forgot-password:hover {
  text-decoration: none;
  color: $gray;
}
// signup page

.signup-area {
  background: none;
}
// businesses search page
#below-map {
  .input-group {
    padding: 3px;
  }
  #day {
    border-right: none;
  }
  #time {
    border-right: none;
  }
  #basic-addon1 {
    background: none;
    border-left: none;
    color: $brand-primary;
  }
  .form-group {
    padding-bottom: 25px;
    padding-top: 10px;
  }
  .dropdown-group {
    padding: 3px;
    select {
      background: url
    }
  }
}
//slider


.range:before,
.range:after {
	display:table;
	content:"";
}

.range:before,
.range:after {
	clear:both;
}
.range {
	margin:15px 0 0 0;
}

#amount_left,
#amount_right {
    display: block;
    float: left;
    font-size: 12px;
    font-weight: 500;
    margin: 0;
    padding: 2px;
    width: 40px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #ddd;
    outline: 0;
	  color:#000;
    text-align: center;
    vertical-align: text-bottom;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
	  border-radius: .3125em;
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
    box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
}
#amount_right {
	float:right;
}

#slider-range {
  position: relative;
  overflow: visible;
  height: 10px;
  margin: 8px 60px 0;
	background:#e9e9e9;
	border:1px solid #ddd;
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
  -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
  box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
}

.ratings-panel {
  .panel-heading {
    background: $brand-primary;
    color: white;
  }
  .full-rating {
    font-size: 42px;
    padding-left: 15px;
    line-height: 37px;
  }
}
 //error page

 #error-page {
   text-align: center;
   p {
     font-size: 1.2em;
   }
   h1 {
     color: $brand-primary;

   }
 }

.jumbotron.no-margin {
   margin-bottom: 0px;
 }

 @import 'treatments';
