<li class="list-group-item availability-list-item">
  {% set offer = availability.getAvailabilitySet.getOffer %}
  <div class="row gutterless">

    <div class="col-xs-1">
      <input name="Availability" value="{{availability.id}}" type="radio">
    </div>

    <div class="col-xs-3">
      <label class="control-label">
        {{availability.getDate | date('g:i A') }}
      </label>
    </div>

    <div class="col-xs-5">
      <span style="text-decoration: line-through;">${{ treatment.getOriginalPrice | localizedcurrency }}</span>
      <strong>${{ offer.getCurrentPrice | localizedcurrency }}</strong>
    </div>

    <div class="col-xs-3">
      <select class="form-control" disabled name="Quantity">
        <option value="1">1</option>
      </select>
    </div>

  </div>

</li>
