Subject line:

<p>Hi {{ business.getName }},</p>

<p>We’re sorry to see you go! Your business has been removed from BiBeauty and you will no longer have access to your account or receive booking requests from BiBeauty.com.</p>

<p>It would be great to understand why you’re leaving us. Open and honest is what we work to, so happy to hear all and any reasons you have. You can either mail us at <a href="mailto:hello@bibeauty.com">hello@bibeauty.com</a> or call us on +1 310 693 9076.</p>

<p>We wish you all the best and hope to see you return soon.</p>

<p>Big love,</p>

<p><strong>The BiBeauty Team </strong></p>
