{% extends 'admin.html.twig' %}

{% block body %}

<div class="panel panel-default">
  <div class="panel-heading">
    Add a Therapist for {{ business.getName }}
  </div>
  <div class="panel-body">
    {{ form_start(form) }}

      {{ form_widget(form) }}
      <input type="submit" value="Create"
           class="btn btn-primary" />
    {{ form_end(form) }} <!-- /. form -->
  </div>
</div>


{% endblock %}
