{% extends 'base.html.twig' %}

{% block body %}

<section id="business-information" class="nav-pad" style="padding-bottom: 20px;">

  <div class="jumbotron no-margin">
      <div class="container">

          <div class="row">
            <div class="col-md-8">
              <h2 class="pull-right">{{business.getAddress.getStreet}}, {{business.getAddress.getCity}}</h2>
              <h1>{{business.getName}}</h1>
              <div class="stars">
                {{ business.getAverageRating | rating }}
                from Yelp&trade;
              </div> <!-- /.stars -->
              <p></p>
            </div>
          </div> <!-- /.row -->
          <div class="row">
            <div class="col-md-8">
              <div class="header-attachment-wrapper" style="">
                <h2>THANK YOU FOR YOUR BOOKING</h2>
                <p><strong>Here is your order summary </strong></p>
                <hr>

                <ul class="checked">
                  <li>Your appointment has been scheduled</li>
                  <li>Please give us a little time to review your booking and send you your final appointment confirmation to <a href="#">your@emailaddress.com</a></li>
                </ul>
              </div> <!-- /.header-attachment-wrapper -->
            </div> <!-- /.col -->

            <div class="col-md-4">

                <aside class="business-aside">

                  <h4>YOUR BOOKING IS COMPLETE</h4>

                  <p><strong>What happens now?</strong></p>

                  <p>You’ll receive a confirmation that the booking
                  has been made and unless something changes,
                  all you have to do is turn on the right day and
                  time of your appointment. All the details are
                  with the salon so you don’t need to print
                  out anything </p>

                  <p><strong>More information or contacting the salon</strong></p>

                  <p>If you need further information about your
                  appointment or want to reschedule or cancel
                  your booking, please contact the salon directly. </p>

                </div>
              </aside>

            </div>
          </div> <!-- /.row -->

      </div>
  </div> <!-- /.jumbotron -->

</section>

<section class="no-account booking-info">

  <div class="container">

    <h3>Appointment Details</h3>


  </div>

</section>

{% endblock %}
