/app/bootstrap.php.cache
*.csr
*.key
.sass-cache
node_modules
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/
/web/css/
/web/js
composer.phar
*.php~
