{# app/Resources/views/Emails/registration.html.twig #}
<h3>You got a new message on BiBeauty.</h3>

{# example, assuming you have a route named "login" #}
<p><strong>Subject: </strong> {{subject}}</p>

<p><strong>From: </strong> {{name}} ({{email}})</p>

<blockquote>
  <p>
    {{description}}
  </p>
</blockquote>

<p>Reply to this email to send a message back.</p>
