<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <title>{% block title %}Welcome!{% endblock %}</title>
    {% stylesheets
        'assets/css/main.scss'
        filter='sass' output='css/main.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% block stylesheets %}{% endblock %}
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="{{ asset('assets/images/logo.png') }}">
        </a>
        <ul class="nav navbar-nav navbar-right">
            <li class="">
                <a href="#">Notify Me</a>
            </li>
            <li class="">
                <a href="#">Login</a>
            </li>
            <li class="">
                <a href="#">Sign Up</a>
            </li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        </ul>
    </div>
</nav>

{% block body %}{% endblock %}

<footer id="site-main-footer">

    <div class="top-footer">
        <div class="container">
            <div class="row">

                <div class="col-md-4">
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">Site Map</div>

                        <!-- List group -->
                        <ul class="list-group">
                            <li class="list-group-item">About Us</li>
                            <li class="list-group-item">Contact Us</li>
                        </ul>
                    </div> <!-- /.panel -->
                </div>

                <div class="col-md-4">
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">Business Owners</div>

                        <!-- List group -->
                        <ul class="list-group">
                            <li class="list-group-item">How it Works?</li>
                            <li class="list-group-item">User Benefits</li>
                            <li class="list-group-item">Business Benefits</li>
                            <li class="list-group-item">Add Business</li>
                        </ul>
                    </div> <!-- /.panel -->
                </div>

                <div class="col-md-4">
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">Support &amp; Information</div>

                        <!-- List group -->
                        <ul class="list-group">
                            <li class="list-group-item">FAQ</li>
                            <li class="list-group-item">Privacy Policy</li>
                            <li class="list-group-item">Terms and Conditions</li>
                        </ul>
                    </div> <!-- /.panel -->
                </div>

            </div>
        </div>
    </div>

    <div class="bottom-footer">
        <img src="#">
    </div>

</footer>



<!-- footer -->

{% javascripts
    '@vendor_assets'
    'assets/js/*'
    filter='uglifyjs2' %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
{% endjavascripts %}
{% block javascripts %}{% endblock %}
</body>
</html>
