@font-face {
    font-family: 'BPreplay';
    src: url('/fonts/BPreplay.eot'); /* IE9 Compat Modes */
    src: url('/fonts/BPreplay.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/BPreplay.woff') format('woff'), /* Modern Browsers */
         url('/fonts/BPreplay.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'BPreplay';
    src: url('/fonts/BPreplayBold.eot'); /* IE9 Compat Modes */
    src: url('/fonts/BPreplayBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/BPreplayBold.woff') format('woff'), /* Modern Browsers */
         url('/fonts/BPreplayBold.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'BPreplay';
    src: url('/fonts/BPreplayItalic.eot'); /* IE9 Compat Modes */
    src: url('/fonts/BPreplayItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/BPreplayItalic.woff') format('woff'), /* Modern Browsers */
         url('/fonts/BPreplayItalic.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: italic;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}
