{% extends 'base.html.twig' %}

{% block body %}

<section id="contact" class="nav-pad">

  <div class="container">

    <div class="row">
      <div class="col-md-7">

        <h1 class="login-title blue-title"><strong>About Us</strong></h1>

        <p class="lead">We at BiBeauty quite simply want to bring you access to more beauty services more frequently. Either you’re a customer who loves to be pampered or a business that loves to do the pampering. We’ve designed BiBeauty with both in mind.</p>

        <h1 class="login-title blue-title"><strong>For Businesses:</strong></h1>

        <p class="lead">We work to fill your unused inventory. Our job is to get you access and exposure to customers who can then book your last minute appointments and keep business booming. BiBeauty lets you offer treatments at discounted rates at specific times that can then be booked by customers on <a href="/" >BiBeauty.com.</a> Your treatments, discount rate and available times are all up to you - because no-one knows your business like you do. Offer a great service and BAM, you have yourself a loyal lover of your salon :)</p>

        <h1 class="login-title blue-title"><strong>For Customers:</strong></h1>

        <p class="lead">BiBeauty offers discounted beauty treatments for last minute bookings. Search and book beauty treatments at discounted rates for appointments made today or tomorrow.</p>
        
        <p class="lead">We’re located out of Santa Monica, Los Angeles and are always available for a chat or to answer any of your questions. You can reach out to us via email at <a href="mailto:hello@bibeauty.com" target="_top">hello@bibeauty.com</a> or simply drop us a line on +1 310 693 9076.</p>

        <p class="lead">We hope you enjoy BiBeauty.</p>
        <p class="lead">Big love,</p>
        <p class="lead">All of us at BiBeauty</p>
      </div>
    </div>
  </div>
</section> <!-- /.section -->

{% endblock %}
