{% extends 'base.html.twig' %}

{% block body %}

<section id="contact" class="nav-pad">

  <div class="container">

    <div class="row">
      <div class="col-md-7">

        <h1 class="login-title blue-title"><strong>The Skincare Package</strong></h1>

        <p class="lead">BiBeauty partners with some of the best local Skincare Therapists, and Boutique Brands to offer our customers the Skincare Package.

        <p class="lead"><em>Our Therapists:</em> We hand select each of our Therapists for the highest quality and professionalism.</p>

        <p class="lead"><em>Our Brands:</em> We carefully source boutique brands with limited distribution. We measure the products for both quality and value. These products are organic, natural, and non-animal tested. </p>

        <p class="lead"><em>Our Package:</em> The Skincare Package includes a Full Facial PLUS a Box of carefully sourced skincare products. The products work with all skin types and include something for the Face, Body, and Lips or Hands. We’ve got your skin covered!</p>

        <p class="lead">Whether it’s a gift for you, a friend, or a loved one, the BiBeauty Package is bundle of skin food for everyone.</p>

        <h1 class="login-title blue-title"><strong>Search and Book Discounted Beauty Treatments Last Minute</strong></h1>

        <p class="lead">Through the BiBeauty Marketplace, you can search and book beauty treatments that include: Hair, Nails, Face, Body, and more. Simply search a treatment, select a time, and enter your Mobile number. Your treatment Professional will instantly be notified and you’ll also receive a Text if this is Accepted. It’s that easy!</p>

      </div>
    </div>
  </div>
</section> <!-- /.section -->

{% endblock %}
