{% extends 'base.html.twig' %}

{% block body %}

<section id="latest-deals" style="min-height: 90vh;">
    <div class="container">

        <div class="section-header clearfix">
            <h2>Beauty Box Products</h2>
            <form method="GET">
              <div class="row">
                <div class="col-md-4 col-md-offset-4">
                  <div class="input-group">
                    <input class="form-control input-lg" name="term" placeholder="Search...">
                    <span class="input-group-btn">
                      <button class="btn btn-default btn-lg btn-normal" type="submit">Search</button>
                    </span>
                  </div> <!-- /.input-group -->
                </div>
              </div> <!-- /.row -->
            </form>
        </div>
        {% if products | length > 0 %}
        <div class="row">
            {% for product in products %}
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="thumbnail card">
                  {% if product.hasThumbnail %}
                    <img src="{{ product.getThumbnail.getKey | s3 }}" class="img-responsive" alt="{{ product.getName }}">
                  {% endif %}
                  <div class="caption">
                    <div class="deals-title" style="text-align: center;">
                      <strong class="">{{ product.getName }}</strong>
                      <p><a href="{{ product.getUrl }}" target="_blank"
                        class="btn btn-primary center-block" role="button">
                        More Info
                      </a></p>
                    </div> <!-- /.subcaption -->
                  </div> <!-- /.caption -->
                </div> <!-- /.thumbnail -->
            </div> <!-- /.col -->
            {% endfor %}

        </div> <!-- /.row -->
        {% else %}
          <p>No products found.</p>
        {% endif %}

    </div>

</section> <!-- #/latest-deals -->

{% endblock %}
