{% extends 'admin.html.twig' %}

{% block toolbar %}
  <!--a class="admin-btn" data-toggle="modal" href="#add-availability">
    <i class="fa fa-plus fa-sm"></i> <strong>Add Offer</strong>
  </a-->

  <a class="admin-btn" href="{{ path('admin_delete_treatment', { slug: business.getSlug, id: business.getId, treatmentId: treatment.getId }) }}" >
    <i class="fa fa-trash fa-sm"></i> <strong>Delete</strong>
  </a>
{% endblock %}

{% block body %}

<div class="panel panel-default new-panel">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-7">

        {{ form_start(form) }}

          {{ form_widget(form) }}
          <input type="submit" value="Edit Treatment"
               class="btn btn-primary" />
        {{ form_end(form) }} <!-- /. form -->


      </div> <!-- /.col-md-7 -->
    </div>
  </div>
</div>


{% endblock %}
