{% extends 'base.html.twig' %}

{% block body %}
<style type="text/css">
#results_map {
	width:90%;
	height:55vh;
	margin:0 auto;
}
</style>

<div id="results-map-wrapper"></div>


{% endblock body %}
