<div class="panel panel-default">
  <div class="panel-body">
    <form action="{{ path('admin_service_availability_new_path',{slug:slug,id:id,serviceid:service.getId}) }}" method="post">
      <div class="form-group">
        <label for="Day">Date</label>
        <div class="input-group">
          <input type="text" id="DayField" name="Day" class="form-control" placeholder="Day" />
          <span class="input-group-addon"><i class="fa fa-chevron-circle-down fa-lg"></i></span>
        </div>
        <label for="Time">Time</label>
        <div class="input-group">
          <input type="time" id="TimeField" name="Time" class="form-control" placeholder="Time" />
          <span class="input-group-addon"><i class="fa fa-chevron-circle-down fa-lg"></i></span>
        </div>
        <div class="input-group">
          <label for="">Recurring</label>
          <input type="checkbox" name="Recurring" class="form-control" />
        </div>
      </div> <!-- /.form-group -->
  </div>
  <div class="panel-heading" style="height:50px;">
    <input type="submit" class="admin-btn"><i class="fa fa-plus fa-lg"></i><strong>Add an Availability</strong></a>
    <div class="clear"></div>
  </div>
  </form>
</div>
