<div class="panel panel-default">
  <div class="panel-body">
    <form action="{{ path('admin_new_availability_path') }}" method="post">
      <div class="form-group">
        <label for="Day">Date</label>
        <div class="input-group">
          <input type="text" id="DayField" name="Day" class="form-control" placeholder="Day" />
          <span class="input-group-addon"><i class="fa fa-chevron-circle-down fa-lg"></i></span>
        </div>
        <label for="Time">Time</label>
        <div class="input-group">
          <input type="text" id="TimeField" name="Time" class="form-control" placeholder="Time" />
          <span class="input-group-addon"><i class="fa fa-chevron-circle-down fa-lg"></i></span>
        </div>
        <div class="input-group">
          <label for="">Recurring</label>
          <input type="checkbox" name="Recurring" class="form-control" />
        </div>
      </div> <!-- /.form-group -->
    </form>
  </div>
  <div class="panel-heading" style="height:50px;">
    <a href="{{path('admin_new_booking_path')}}" class="admin-btn"><i class="fa fa-plus fa-lg"></i><strong>Add a Treatment</strong></a>
    <div class="clear"></div>
  </div>
</div>
