{% extends 'admin.html.twig' %}

{% block body %}

<div class="panel panel-default">
  <div class="panel-heading">{{ business.getName }}</div>
  <div class="panel-body">
    
  </div>
</div>


{% endblock %}
