{% extends 'admin.html.twig' %}

{% block body %}

<div class="panel panel-default">
  <div class="panel-heading">Services for {{ business.getName }}</div>
  <div class="panel-body">

  </div>
  <table class="table businesses-table">
    <thread>
      <tr>
        <th>ID</th>
        <th><a href="#" id="check-all-box">All</a></th>
        <th>Cilent</th>
        <th>Services</th>
        <th>Category</th>
        <th>Treatment</th>
        <th>Date</th>
        <th>Time</th>
        <th>Price</th>
        <th>Therapist</th>
        <th>Status</th>
      </tr>
    </thread>
    <tbody>

    </tbody>

  </table>
</div>


{% endblock %}
