{% extends 'admin.html.twig' %}

{% block body %}

<div class="panel panel-default">
  <div class="panel-heading">
    Treatments for {{ business.getName }}
  </div>
  <div class="panel-body">
    {% if services.count > 0 %}
      <ul class="list-group">
      {% for service in services %}
        <li class="list-group-item">
          <a href="">{{ service.getLabel }}</a>
        </li>
      {% endfor %}
      </ul>
    {% else %}
      <p>No treatments have been added.</p>
    {% endif %}
  </div>
</div>


{% endblock %}
