{% extends 'admin.html.twig' %}

{% block body %}

  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>My Bookings (placeholder)</strong>
      <a href="#" class="admin-btn"><i class="fa fa-trash-o fa-lg"></i><strong>Delete</strong></a>
      <a href="#" class="admin-btn"><i class="fa fa-pencil-square-o fa-lg"></i><strong>Edit</strong></a>
      <a href="{{path('admin_businesses_path')}}" class="admin-btn"><i class="fa fa-plus fa-lg"></i><strong>Add a business</strong></a>
    </div>
    <div class="panel-body">


      {% if businesses %}
        <table class="table businesses-table">
          <thread>
            <tr>
              <th>ID</th>
              <th>Business Name</th>
              <th>Treatment</th>
              <th>Date</th>
              <th>Time</th>
              <th>Price</th>
              <th>Duration</th>
              <th>Enabled</th>
            </tr>
          </thread>
          <tbody>

        {% for business in businesses %}
        <tr>
          <td>empty</td>
          <td>
            <a href="{{ path('business_path', { 'slug': business.slug, 'id': business.id} ) }}">
              {{ business.name }}
            </a>
          </td>
          <td>empty</td>
          <td>empty</td>
          <td>empty</td>
          <td>empty</td>
          <td>empty</td>
          <td>empty</td>
        </tr>
        {% endfor %}

      {% else %}
      <tr>
        <td>null</td>
        <td>No businesses</td>
      </tr>
      {% endif %}
      </table>
    </div>
  </div>

{% endblock %}
