{% extends 'admin.html.twig' %}

{% block body %}

<section id="top-slider">
    <div class="jumbotron">
        <div class="container">
            <h1>Discounted Beauty Treatments</h1>
            <p class="lead">For Last Minute Bookings</p>

            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <div class="form-transparent-wrapper">
                  <form class="">
                    <div class="row">
                      <div class="col-md-3 col-sm-6">
                        <label class="sr-only" for="JumboLocation">Name</label>
                        <input type="text" class="form-control input-lg" id="JumboLocation" placeholder="Location">
                      </div> <!-- /.col -->
                      <div class="col-md-3 col-sm-6">
                        <label class="sr-only" for="JumboTreatment">Email</label>
                        <input type="email" class="form-control input-lg" id="JumboTreatment" placeholder="Treatment">
                      </div> <!-- /.col -->
                      <div class="col-md-3 col-sm-6">
                          <label class="sr-only" for="exampleInputEmail2">Email</label>
                          <div class="input-group input-group-lg">
                              <span class="input-group-addon" id="JumboDate">
                                  <i class="fa fa-calendar"></i>
                              </span>
                              <input type="text" class="form-control" placeholder="Date" aria-describedby="JumboDate">
                          </div>
                      </div> <!-- /.col -->
                      <div class="col-md-3 col-sm-6" id="searchbar-front">
                        <button type="submit" class="btn btn-default btn-lg"><i class="fa fa-search"></i> Search</button>
                      </div> <!-- /.col -->
                    </div> <!-- /.row -->
                  </form>
                </div> <!-- /.form-transparent-wrapper-->
              </div> <!-- /.col -->
            </div> <!-- /.row -->

        </div>
    </div>
</section>

<section id="popular-categories">

    <div class="container">

        <div class="section-header">
            <h2>Popular Categories</h2>
            <h4>SEARCH AND BOOK GREAT DEALS FOR THESE AND MORE</h4>
        </div>

        <div class="row">
            {% for i in 0..5 %}
            <div class="col-md-4">
                <a href="#" class="thumbnail">
                  <img src="{{ asset('assets/images/categories/hair.png') }}" class="img-responsive" alt="...">
                </a>
            </div>
            {% endfor %}

        </div>

    </div>

</section>
<hr>
<section id="how-it-works">
    <div class="container">

        <div class="section-header">
            <h2>How it Works</h2>
            <h4>SEARCH AND BOOK BEAUTY TREATMENTS FOR TODAY & TOMORROW AT HEAVILY DISCOUNTED RATES</h4>
        </div>

        <img src="{{ asset('assets/images/feature.jpg') }}" class="img-responsive" alt="">

    </div>
</section> <!-- /#how-it-works -->
<hr>
<section id="latest-deals">
    <div class="container">

        <div class="section-header">
            <h2>Latest Deals</h2>
        </div>

        <div class="row">
            {% for i in 0..2 %}
            <div class="col-lg-offset-0 col-lg-4 col-md-offset-0 col-md-4 col-sm-offset-0 col-sm-4 col-xs-offset-3 col-xs-6 col-xs-offset-3">
                <div class="thumbnail" id="deals-border">
                    <img src="{{ asset('assets/images/deals/1.png') }}" class="img-responsive" alt="...">
                    <div class="caption">
                        <div class="deal-title">
                            <div class="row">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-6" id="deals-title">Santa Monica</div>
                                <div class="col-sm-3"><strike id="deals-text"><small>$100</small></strike><big> $80 </big></div>
                            </div>
                        </div>
                        <h4 id="deals-text">lorem ipsum dummy text</h4>
                        <h5 id="deals-text">Dummy heading:</h5>
                        <p id="deals-text">lorem ipsum dummy<br>text for print & web</p>
                        <p><a href="#" class="btn btn-primary center-block" role="button">View Deal</a></p>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div> <!-- /.row -->

    </div>

</section> <!-- #/latest-deals -->

<section id="get-started">

  <div class="container">

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="well well-lg">

          <h2>Add your business now to fill those<br>last minute appointments</h2>

          <a class="btn btn-primary btn-lg">Get Started</a>

        </div>
      </div>
    </div>

  </div> <!-- /.container -->

</section>

{% endblock %}
